<!-- Angular Directive Templates -->
<div id="checkbox-group-template" style="display: none"> <!-- Many to Many Checkbox -->
    <div class="checkbox-group">
        <label class="title" ng-bind="label"></label>
        <p ng-repeat="item in collection">
            <label>
                <input type="checkbox" ng-click="toggleSelected(item)" ng-checked="isSelected(item)"/> <span ng-bind="item[labelField]"></span>
            </label>
        </p>
    </div>
</div>

<!-- Checkbox -->
<div id="checkbox-template" style="display: none">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="model" /> <span ng-bind="label"></span>
        </label>
    </div>
</div>

<!-- Simple radio buttons -->
<div id="flat-radio-template" style="display: none">
    <div ng-class="{radio: 'radio', required: isRequired()}">
        <label class="title" ng-bind="label" id="{{id}}"></label>
        <p ng-repeat="option in _options">
            <label>
                <input type="radio" ng-model="_model.id" name="{{name}}" ng-value="option.id" /> <span ng-bind="option.description"></span>
            </label>
        </p>
    </div>
</div>

<!-- Text/File/Password Field -->
<div id="input-template" style="display: none">
    <div ng-class="{field:'field', required: isRequired()}">
        <label ng-bind="label"></label>
        <input type="{{getType()}}" ng-model="model" class="data-input" />
    </div>
</div>

<!-- Radio Buttons -->
<div id="radio-template" style="display: none">
    <div ng-class="{radio: 'radio', required: isRequired() }">
        <label class="title" ng-bind="label" id="{{id}}"></label>
        <p ng-repeat="option in _options">
            <label>
                <input type="radio" ng-model="_model.id" ng-value="option.id" name="{{id}}" /> <span ng-bind="option.label"></span>
            </label>
        </p>
    </div>
</div>

<!-- Dropdown List -->
<div id="select-box-template" style="display: none">
    <div ng-class="{field:'field', required: isRequired()}">
        <label ng-bind="label"></label>
        <select ng-options="option[_label] for option in options" ng-model="_model"></select>
    </div>
</div>

<!-- Textarea -->
<div id="text-block-template" style="display: none">
    <div ng-class="['field', isRequired()]">
        <label ng-bind="label"></label>
        <textarea ng-model="model"></textarea>
    </div>
</div>

<!-- Dialog Box template. Declared as script to prevent ngTransclusion errors when the DOM is loaded -->
<script type="text/ng-template" id="dialogBox.html">
    <div ng-class="['dialog-overlay', {visible: open}]">
        <div class="dialog-box">
            <h4 class="dialog-title"><span ng-bind="title"></span> <a class="close-button" ng-click="open = false">&#x2716;</a> </h4>
            <div class="dialog-content">
               <ng-transclude></ng-transclude>
            </div>
        </div>
    </div>
</script>